body {
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

aside {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;

}




#title {
    flex-direction: column;
    line-height: 5px;
    width: 700px;
}

ul{
    width: 500px;

}

li {
    display: inline-block;
    margin: 5px;

}

a {
    color: white;

}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#inscreva-se-btn {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover {
    background-color: rgb(132, 14, 201);
    color: white;
}

h1 {
    font-weight: 200;
    font-size: 45px;
    font-family: poppinsmedium;

}

main {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    

}

h2 {

    font-size: 30px;
    line-height: 40px;
    font-family: poppinsmedium;
}

h3 {
    font-size: 28px;

}

h4 {
    font-size: 20px;
}

span {
    color: rgb(132, 14, 201);
    text-align: center;
}

p {
    margin-top: 5px;
    font-size: 12pt;
    line-height: 20px;
    max-width: 500px;

}

p:hover {
    font-family:poppinsmedium;
    font-size:20px
}

img {
    width: 580px;

}


form {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;

}


form [type="submit"] {
    height: 50px;
    width: 50%;
    margin-left: 90px;
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;

}

form [type="submit"]:hover {
    cursor: pointer;


}

input {
    margin-top: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
}

article {
    margin-left: 30px;
    margin-top: 10px;
    width: 800px;
    height: auto;
}

footer {
    text-align: center;
    width: 100%;
}

#moldura {
    width: 1500px;
    height: 450px;
    bachground-collor: #eeeeee;
    transition: background-image 2s;
}



<style>
     
        
        

    
@font-face {
    font-family: 'poppinsblack';
    src: url('../components/fonts/poppins-black-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }




  @font-face {
    font-family: 'poppinsbold';
    src: url('../components/fonts/poppins-bold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }


  @font-face {
    font-family: 'poppinslight';
    src: url('../components/fonts/poppins-light-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }


  @font-face {
    font-family: 'poppinsmedium';
    src: url('../components/fonts/poppins-medium-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'poppinsregular';
    src: url('../components/fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

  @font-face {
    font-family: 'poppinssemibold';
    src: url('../components/fonts/poppins-semibold-webfont.woff2') format('woff2'),
         url('../components/fonts/poppins-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

  }

    </style>